body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aeca1614-ab29-413b-867d-5f2f40cef9cd/dg5o6sj-835af1de-281e-4b19-b6e5-9bc22fa9e417.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FlY2ExNjE0LWFiMjktNDEzYi04NjdkLTVmMmY0MGNlZjljZFwvZGc1bzZzai04MzVhZjFkZS0yODFlLTRiMTktYjZlNS05YmMyMmZhOWU0MTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wogA1dhR9HXYUczexlGjA6XcHShDEUa0Ywstt3nauoU");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    padding-bottom: 50px;  
  }
  #root {
    max-width: 1280px;
    margin: 5rem;
    text-align: center;
    align-items: center;
  }

  .header.hidden {
    transform: translateY(-100%);
  }

  .header-logo h1 {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 1rem;
  }

  .header-username p {
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .header {
      max-width: 90%;
      padding: 0.8rem 1rem;
    }
    .header-logo h1 {
      font-size: 1.5rem;
    }
  }

  .toggleButton {
    width: 50px;  /* Increase icon size */
    height: 50px;
    float: right;
    background-image: url(https://banner2.cleanpng.com/20181111/ioy/kisspng-computer-icons-scalable-vector-graphics-informatio-classic-ferrari-parts-lemon-parts-1713919533611.webp);
    background-size: cover; /* Ensures the image scales to cover the icon area */
  background-position: center; /* Centers the image within the element */
  mix-blend-mode: multiply;
  }

  .infoText {
      color: rgb(108, 123, 191);
      list-style-type: none;
  }

  .infoContainer {
    background-color: #f8f9fa; /* Light background for the container */
  border: 1px solid #ccc;    /* Border around the container */
  padding: 20px;             /* Padding inside the container */
  border-radius: 8px;        /* Rounded corners */
  max-width: 600px;          /* Max width for the container */
  margin: 20px auto;         /* Center the container with margin */
  font-size: 16px;           /* Set font size for the text */
  color: #333;               /* Text color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for better visual separation */
  }