body {
    background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/Screenshot05-1920x1080-0f4d271d3f5c217a2a06977d706debf1.jpg?resize=1&w=1920");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  #root {
    max-width: 1280px;
    margin: 5rem auto 0;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  .header.hidden {
    transform: translateY(-100%);
  }
  .header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .header-logo h1 {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 1rem;
  }
  .header-username p {
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .header {
      max-width: 90%;
      padding: 0.8rem 1rem;
    }
    .header-logo h1 {
      font-size: 1.5rem;
    }
  }